.contact_container {
    background-image: url('/image/p5.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.contact_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: var(--primaryColor);
    /* background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%); */
    z-index: 1;
    opacity: 0.8;
}

.contact_section {
    position: relative;
    z-index: 2;
}

.contact_content {
    text-align: center;
    color: white; 
    height: 400px;
    margin-top: 34px;
}




.form_Section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

/* .contact_left{
    width: 50%;
  
} */
.contact_right{
    width: 50%;
}


.contact_right p{
    line-height: 25px;
}
.contact_right h2{
    color: var(--primaryColor);

}




.form{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin: 34px; 
    height: 600px;
    width: 500px;
    border: 1px solid gray;
    position: relative;
    top: -134px;
    background-color: white;
    z-index: 2;
    border-right: 10px solid var(--primaryColor);
    border-bottom: 10px solid var(--primaryColor);

}

.form h4{
    margin-top: 54px;
}

.form input{
    width: 400px;
    padding: 16px;
}

.form .contact_btn{
    width: 400px;
    background-color: var(--primaryColor);
    padding: 16px;
    border: none;
    color: var(--textWhite);

}




/* ---------------------media queries start--------------------- */

@media screen and (max-width: 950px) {
    .form_Section{
        flex-direction: column;
        gap: 10px;
    }
    .contact_right{
        width: 100%;
    }
    
    
}


@media screen and (max-width: 600px) {
    
    .form {
        width: 290px;
    }
    .form input {
        width: 224px;
    }

    .form .contact_btn {
        width: 225px;
    }
}


    

/* ---------------------media queries end--------------------- */