.home_container {
    position: relative;
    height: 80vh;
    background-image: url('/image/plumbing-home.jpg');
    background-size: cover;
    background-position: center;
}

.home_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor); 
    z-index: 1; 
    opacity: .8;
}


.home_container .home_section {
    position: relative; 
    z-index: 2; 
}


.home_para{
    color: var(--textWhite);
    font-size: 20px;
}
.home_heading{
    font-size: 5rem;
    color: var(--secondayColor);
}



.home_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    gap: 4rem;
}

.childText{
    color: var(--textWhite);
}

.home_left{
    width: 50%;
}
.home_right{
    width: 50%;
}


.home_right img {
    width: 364px;
    height: 591px;
    /* width: 100%; */
    position: absolute;
    top: 173px;
    object-fit: cover;
}


.yrsExperience{
    background-color: var(--secondayColor);
    padding: 50px;
}

.yrsExperience h2{
    color: var(--textWhite);
}


.heading{
    font-size: 4rem;
  }




/* ---------------------media queries start--------------------- */

@media screen and (max-width: 1200px) {
    .home_right img {
        top: 76px;
        background-color: red;
    }
}
@media screen and (max-width: 1020px) {
    .home_heading {
        font-size: 4rem;
    }
}@media screen and (max-width: 950px) {
    .home_right img {
        display: none;
    }
    /* .home_content{
        flex-direction: column;
    } */

    .home_left{
        width: 100%;
    }
    .heading{
        font-size: 2rem;
    }
}



@media screen and (max-width: 600px) {
    .home_heading {
        font-size: 30px;
    }

    .heading{
        font-size: 20px;
    }
    
}





/* ---------------------media queries end--------------------- */