.card_container{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 12px;
    flex-wrap: wrap;
}



  






/* 
.card_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 12px;
    justify-items: center; 
}

.card {
    width: 100%; 
}


.card:nth-child(3),
.card:nth-child(4) {
    width: 500px;
} */
