.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 24px;
}

.navlinks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.navlinks li{
    list-style: none;
}.navlinks li a{
    text-decoration: none;
    color: var(--textWhite);
}

.hamburgerMenu{
    display: none;
}



/* ---------------------media queries start--------------------- */

@media screen and (max-width: 900px){
    .hamburgerMenu{
        display: block;
        font-size: 34px;
        color: var(--textWhite);
    }
    .navlinks{
        display: none;
    }

}


/* ---------------------media queries end--------------------- */